@font-face {
    font-family: "Champagne & Limousines";
    src: url("./Champagne_&_Limousines.ttf");
}

h1, h2, h3, h4, h5, h6 { font-family: "Champagne & Limousines";  color: red; }

#page { background: url(../img/bg.png); }

.ui-body { background: transparent; border: 2px dashed red; }

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
	background-color: red;
}

#dlma p::selection { background: #FBEA85; }
#dlma p::-moz-selection { background: #FBEA85; }
#dlma .ui-block-a, #dlma .ui-block-b, #dlma .ui-block-c { padding: 12pt; }
#dlma .ui-block-a p, #dlma .ui-block-b p, #dlma .ui-block-c p { padding: 14pt; }
#dlma h2 {
	text-align: center;
	background-color: #FBEA85;
	border-radius: 4pt;
}
@media all and (max-width: 720px) {
  #dlma .ui-block-a, #dlma .ui-block-b, #dlma .ui-block-c { width: 100%; }
}



#order p::selection { background: #fb4c4c; color: white; }
#order p::-moz-selection { background: #fb4c4c; color: white; }
#order { background-color: rgba(255, 0, 0, 0.05); margin: 60pt 0; }
#order h2 { background-color: #fb4c4c; }
#order .ui-grid-b h3 {
	text-align: center;
	background: #fb4c4c;
	text-shadow: none;
	color: #FEFEFE;
	padding: 4pt;}
#order .ui-block-a, #order .ui-block-b, #order .ui-block-c { padding: 12pt; }
#order .ui-block-a .thumb { background-image: url(../img/order_one.png); }
#order .ui-block-b .thumb { background-image: url(../img/order_two.png); }
#order .ui-block-c .thumb { background-image: url(../img/order_three.png); }
#order h3 span { display: none; }
#order .thumb { height: 96px; background: no-repeat center center; margin: 0 10px 10px 0; }

@media all and (max-width: 720px) {
  #order .ui-block-a, #order .ui-block-b, #order .ui-block-c { width: 100%; }
  #order .ui-grid-b h3 { text-align: left; }
  #order .thumb { float: left; width: 96px; }
}

@media all and (max-width: 420px) {
  #order .thumb { display: none; }
  #order h3 span { display: inline; }
}


#letters p::selection { background: #5957F5; color: white; }
#letters p::-moz-selection { background: #5957F5; color: white; }
#letters { margin: 40pt 0; background-color: rgba(0, 0, 255, 0.05); }
#letters h2  { background-color: #3900EC; }
#letters .info  { text-align: center; font-size: 20pt; font-family: "Champagne & Limousines"; }
#letters .left, #letters .right  { padding: 0 12pt; }

#letters .right a { background-color: transparent; border: none; transition: background-color 0.5s ease;}
#letters .right a:hover { background-color: rgba(89, 87, 245, 0.5); color: white; text-shadow: 1px 1px 1px #666; }
#letters .right a:after { background-color: #5957F5; }
#letters h3 {
	background: #5957F5;
	text-shadow: 1px 1px 1px #333;
	color: white;
	padding-left: 10pt;
	border-radius: 2pt;}
#letters p { padding-left: 10pt; }
#letters .right { padding-bottom: 20pt}
#letters .right ul {margin: 2pt 6pt;}

@media all and (max-width: 720px) {
  #letters .left, #letters .right  { width: 100%;}
}



#address {  }
#address .a { text-align: center; font-family: "Champagne & Limousines";
font-size: 20pt; color: #5957F6; font-weight: bold; }
#address .boy { padding: 12pt 0 6pt 0; }
#address .girl { padding: 6pt 0 12pt 0; }
#address .border { min-height: 12px; background: url(../img/address_border.png); }
#address .divider { height: 20px; background: no-repeat center center url(../img/address_divider.png); }



#releases p::selection { background-color: rgb(145, 30, 210); color: white; }
#releases p::-moz-selection { background-color: rgb(145, 30, 210); color: white; }
#releases { background-color: rgba(145, 30, 210, 0.1); }
#releases h2 { background-color: rgb(145, 30, 210); }
#releases a:active {
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
#releases a {
	color: white;
	display: block;
	max-width: 500px;
	text-decoration: none;
	margin: 0 auto;
	font-family: "Champagne & Limousines";
	border-radius: 20pt;
	text-align: center;
	padding: 12pt;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	position: relative;
  background-color: #911ED2;
  border-radius: 8px;
  box-shadow: 0px 9px 0px #811C9D, 0px 9px 25px rgba(0, 0, 0, 0.7);
	transition: all .1s ease;
	text-shadow: 0 1px 1px #4d4d4d;
}
#releases .ui-block-a, #releases .ui-block-b {
	padding: 24pt;
}

@media all and (max-width: 820px) {
  #releases .ui-block-a, #releases .ui-block-b  { width: 100%;}
}


#label p::selection { background: #ff9036; color: white; }
#label p::-moz-selection { background: #ff9036; color: white; }
#label { background-color: rgba(255, 114, 0, 0.1); }
#label h2 { background-color: #ff9036; }
#label .content {  padding: 0 12pt 12pt 12pt; }




#contacts { background-color: rgba(58, 73, 89, 0.1);  }
#contacts h2 { background: #3A4959; }
#contacts .content { padding: 0 12pt 12pt 12pt; }
#contacts a {
	position: relative;
	padding-left: 28px;
	min-height: 24px;
	display: inline-block;
	padding-right: 4px;
	margin: 4px 12px;
}
#contacts a:hover { background-color: #222; color: #eee; text-shadow: 1px 1px 1px #333; }
#contacts a::BEFORE {
	width: 24px;
	height: 24px;
	background: no-repeat center center;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
}
#contacts a.vk::BEFORE { background-image: url(../img/contacts_vk.png); }
#contacts a.instagram::BEFORE { background-image: url(../img/contacts_instagram.png); }
#contacts a.twitter::BEFORE { background-image: url(../img/contacts_twitter.png); }
#contacts a.gmail::BEFORE { background-image: url(../img/contacts_gmail.png); }
#contacts a.ask::BEFORE { background-image: url(../img/contacts_ask.png); }


